
/* Botões de Interface */

.btn-basic,
.btn-basic:visited,
input[type="submit"] {
  color: $basal-button-text-color;
  font-size: 14px;
  font-weight: bold;
  line-height: 42px;
  min-height: 42px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5em 1em 0.5em 0;
  padding: 0 1.6em;
  display: inline-block;
  border: $basal-button-border;
  border-radius: $basal-button-border-radius;
  position: relative;
  background-color: $basal-button-background;
  transition: background-color ease 0.5s;

}

.btn-basic:hover,
.btn-basic:focus,
input[type="submit"]:hover {
  color: $basal-button-text-color-hover;
  background-color: $basal-button-background-hover;
  outline: 0;
  cursor: pointer;
}

.btn-icon-left { padding-left: 1.2em; }
.btn-icon-left .fa { padding-right: 0.5em; }

.btn-icon-right { padding-right: 1.5em; }
.btn-icon-right .fa { padding-left: 0.5em; }

.btn-row {
    margin: 0;
    padding: 0;
    min-height: $basal-leading * 2;
}

/* Botões coloridos */

@mixin buttons($selector, $txt-color, $bg-color) {

    #{$selector} {

        color: $txt-color;
        background-color: $bg-color;

        &:visited {
            @extend #{$selector};
        }

        &:hover {
            color: $txt-color;
            background-color: darken($bg-color, 15%);
        }
    }

    input[type="submit"]#{$selector} {

        @extend #{$selector};

        &:visited {
            @extend #{$selector};
        }

        &:hover {
            @extend #{$selector}:hover;
        }
    }

}

@include buttons( ".btn-green",
                  $basal-button-color-text-color,
                  $green-base);

@include buttons( ".btn-blue",
                  $basal-button-color-text-color,
                  $blue-base);

@include buttons( ".btn-orange",
                  $basal-button-color-text-color,
                  $orange-base);

@include buttons( ".btn-red",
                  $basal-button-color-text-color,
                  $red-base);


/*
 * Quebra de layout para Tablet
 *
 */

@media all and (max-width: $basal-media-tablet) {

    .btn-row {
      padding: 0 $basal-padding;
    }


}
// Fim da Quebra de layout para Tablet

// FIM Botões de Interface
