
/* Botões de Interface */

.btn-basic,
.btn-basic:visited,
input[type="submit"]  {
  color: #2E3333;
  font-size: 14px;
  font-weight: bold;
  line-height: 42px;
  min-height: 42px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5em 1em 0.5em 0;
  padding: 0 1.6em;
  display: inline-block;
  border: 0;
  border-radius: 3px;
  position: relative;
  background-color: #C5CDCD ;
  transition: background-color ease 0.5s;
}

.btn-basic:hover,
.btn-basic:focus,
input[type="submit"]:hover {
  color: #F2F5F5;
  background-color: #95A5A5;
  outline: 0;
  cursor: pointer;
}

.btn-icon-left { padding-left: 1.2em; }
.btn-icon-left .fa { padding-right: 0.5em; }

.btn-icon-right { padding-right: 1.5em; }
.btn-icon-right .fa { padding-left: 0.5em; }

.btn-row {
    margin: 0;
    padding: 0;
    min-height: $basal-leading * 2;
}

/* Botões coloridos */

.btn-green,
.btn-green:visited,
input[type="submit"].btnGreen,
input[type="submit"].btnGreen:visited  { color: #FFF; background-color: #1abc9c; }

.btn-green:hover,
input[type="submit"].btnGreen:hover    { color: #FFF; background-color: #16a085; }


.btn-blue,
.btn-blue:visited,
input[type="submit"].btnBlue,
input[type="submit"].btnBlue:visited   { color: #FFF; background-color: #3498db; }

.btn-blue:hover,
input[type="submit"].btnBlue:hover     { color: #FFF; background-color: #2980b9; }


.btn-orange,
.btn-orange:visited,
input[type="submit"].btnOrange,
input[type="submit"].btnOrange:visited   { color: #FFF; background-color: #FF9900; }

.btn-orange:hover,
input[type="submit"].btnOrange:hover     { color: #FFF; background-color: #F08000;}


.btn-red,
.btn-red:visited,
input[type="submit"].btnRed,
input[type="submit"].btnRed:visited   { color: #FFF; background-color: #e74c3c; }

.btn-red:hover,
input[type="submit"].btnRed:hover     { color: #FFF; background-color: #CC3300; }


@media (max-width: 800px) {

.btn-row {
  padding: 0 $basal-padding;
}



} /* Fim @media (max-width: 800px) */

/* FIM Botões de Interface  */
