
/* Customização */

 body {
    font-family: 'Open Sans', sans-serif;
 }

section header h2 {
    color: $grey-light;
    font-size: 20px;
    padding: $basal-padding 0 0 0;
    min-height: 60px;
    text-transform: uppercase;
}

/* Fim Customização */
