
/* Formulários  */

.form-row {
    @extend .row;
    margin: 0;
    padding: 0;
    list-style: none;
}

@for $i from 1 through 40 {

    .form-row.min-h-#{$i} {
        @extend .min-h-#{$i};
    }
}

.form-row p {
    margin: 0;
    padding: 0;
}

.form-row a {
    text-decoration: none;
}

.form-row label,
.form-row legend {
    color: $basal-form-legend-color;
    font-size: 14px;
    font-weight: 700;
    line-height: $basal-leading;
    letter-spacing: 0.06em;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.form-row input + label {
    font-weight: 400;
}

.label-block label,
.form-row legend {
    display: block;
}

.input-text input {
    color: $basal-form-text-color;
    font-size: 2.0em;
    font-family: inherit;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    vertical-align: middle;
    white-space: pre;
    margin: 0 0 16px 0;
    padding: 0.35em 0.6em;
    width: 100%;
    min-height: 1em;
    display: block;
    border: $basal-form-border;
    border-radius: $basal-form-border-radius;
    box-shadow: $basal-form-shadow;
    background-color: $basal-form-background;
    outline: none;
    transition: background-color 1s ease 0s,border 1s ease 0s;
}
.input-text input:hover {
    border: $basal-form-border-hover;
    background-color: $basal-form-background-hover;
    transition: background-color 1s ease 0s,border 1s ease 0s;
}
.input-text input:focus {
    border: $basal-form-border-focus;
    background-color: $basal-form-background-focus;
}

.input-text input + label {
    font-weight: 400;
    margin-top: -16px;
    margin-bottom: 16px;
}

.input-text-66 input {
    width: 66%;
}

.input-text-33 input {
    width: 33%;
}

.form-row textarea {
    color: $basal-form-text-color;
    font-family: inherit;
    font-size: 1.6em;
    margin: 0;
    padding: 0.75em 0.5em 0.5em 0.75em;
    width: 100%;
    min-height: $basal-leading * 4;
    border: $basal-form-border;
    border-radius: $basal-form-border-radius;
    box-shadow: $basal-form-shadow;
    background-color: $basal-form-background;
    transition: background-color 1s ease 0s,border 1s ease 0s;
}

.form-row textarea:focus {
    border: $basal-form-border-focus;
    background-color: $basal-form-background-focus;
}

.input-radio fieldset,
.input-text fieldset {
    padding: 0;
    border: none;
}

.input-radio ul,
.input-radio dl {
    margin: 0;
    padding: 0;
    list-style: none;
}
.input-radio li,
.input-radio dt,
.input-radio dd {
    font-size: 1.4em;
    line-height: $basal-leading;
    margin: 0;
    padding: 0;
    list-style: none;
}

.input-radio label {
    font-size: 1em;
    font-weight: 300;
}

.input-radio input {
    vertical-align: -14%;
    display: inline-block;
    margin: 0 floor($basal-gutter / 2) 0 0;
}

.select-dropdown select {
    color: $basal-form-dropdown-text-color;
    font-family: inherit;
    font-size: 1.6em;
    line-height: 2em;
    margin: 0 0 16px 0;
    padding: 9px 0.3em 8px;
    width: 100%;
    border: $basal-form-dropdown-border;
    border-radius: $basal-form-dropdown-radius;
    box-shadow: $basal-form-dropdown-shadow;
    background-color: $basal-form-dropdown-background;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    outline: none;
}
.select-dropdown select:hover {
    border: $basal-form-dropdown-border-hover;
    background-color: $basal-form-dropdown-background-hover;
    outline: none;
}
.select-dropdown select:focus {
    border: $basal-form-dropdown-border-focus;
    background-color: $basal-form-dropdown-background-focus;
    outline: none;
}

.label-inline label {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.666em;
    padding: 0;
    margin: 0;
    float: left;
}


/* Erros nos formulários */

.errorlist {
    color: $basal-form-error-color;
}

.errorlist p,
.errorlist li,
.errorlist dt,
.errorlist dd {
    font-size: 1.4em;
    line-height: $basal-leading;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.errorlist li + li,
.errorlist dd + dd {
    line-height: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.form-row .errorlist {
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
    display: block;
    position: relative;
}

.form-row .errorlist:before {
    content: "\f071"; //  fa-exclamation-circle f06a
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: normal;
    padding: 0 0 0 0;
    margin: 0 0 0 -30px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
}

.form-row .errorlist + input,
.form-row .errorlist + input:hover,
.form-row .errorlist + input:focus,
.form-row .errorlist + input + input,
.form-row .errorlist + textarea,
.form-row .errorlist + ul,
.form-row .errorlist + dl,
.error-input input {
    border: $basal-form-error-border;
    background-color: $basal-form-error-background;
}

.form-row .errorlist + ul,
.form-row .errorlist + dl {
    padding-left: floor($basal-gutter / 3);
    border: 0;
}

.error-input label,
.error-input legend {
    color: $basal-form-error-color;
}


/*
 * Quebra de layout para Tablet
 *
 */

 @media all and (max-width: $basal-media-tablet) {

    .form-row {
        padding-left: $basal-padding;
        padding-right: $basal-padding;
    }


    .input-text-66 input,
    .input-text-33 input {
        width: 100%;
    }


}
// Fim da Quebra de layout para Tablet

// FIM de Formulários
