
/* Menu navInline */

.nav-inline {
    vertical-align: middle;
    padding: 10px 0;
    display: inline-block;
}

.nav-inline ul {
 margin: 0;
 padding: 0 0.9em;
}

.nav-inline li {
 font-size: 1em;
 margin: 0;
 padding: 0;
 float: left;
 list-style: none;
 position: relative;
}

.nav-inline li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0.7em;
  display: block;
  transition: color 0.3s, background-color 1s;
}

.nav-inline li a:hover {
 color: #000;
 background-color: #F5F5F5;
}

.nav-inline .current > a {
 color: #000;
 font-weight: 700;
}

.nav-mobile, .nav-close { display: none; }


/* Submenu de links do Menu nav-inline */

.submenu { position: relative; overflow: hidden; }

.submenu:hover { color: #000; overflow: visible; }

.submenu ul {
  margin: -5px 0 0;
  padding: 0 ;
  opacity: 0;
  border: none;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  position: absolute;
  z-index: 9995;
}
.submenu ul:after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  position: absolute;
  top:-10px;
  left: 20px;
  z-index: -9994;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.submenu ul:before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 20px;
  background: #FFF;
}
.submenu:hover ul {
  margin: 0 0 0;
  opacity: 1;
  -webkit-transition: opacity 0.6s, margin 1s;
  transition: opacity 0.6s, margin 1s;
}
.submenu ul li {
  font-size: 1em;
  min-width: 200px;
  min-height: 44px;
  float: none;
}
.submenu ul li a {
  margin: 0 0;
  padding: 0 1em;
  display: block;
  text-align: left;
}
.submenu ul li a:hover {
  color: #FFF;
  background: #3498DB;
}


/* @media (max-width: 800px) */

@media (max-width: 800px) {

    /* Menu nav-inline */

    .nav-inline {
      text-align: right;
      vertical-align: middle;
      margin: 0 10px;
      min-height: 45px;
      width: 45px;
      position: relative;
      display: inline-block;
    }

    .nav-inline .nav-menu > ul {
        width: 250px;
        margin: -5px 0 0 0;
        padding: 0;
        display: block;
        height: 0;
        opacity: 0.3;
        overflow: hidden;
        position: relative;
        right: 205px;
        background: #FFFFFF;
    }

    .nav-menu {
      position: relative;
    }

    .nav-menu:hover ul {
        margin-top: -5px;
        height: auto;
        opacity: 1;
        transition: margin 1s, height 2s, opacity 1s;
    }

    .nav-menu:hover > ul {
        border: 3px solid #CCCCCC;
    }

    .nav-inline li {
       float: none;
       text-align: left;
    }

    .nav-inline li a {
      color: #000;
      font-weight: nomral;
      padding: 0 1em;
      border-bottom: 1px solid #F2F5F5;
      white-space: nowrap;
    }

    .nav-inline li a:hover {
      color: #FFF;
      background: #0066CC;
    }

    .nav-mobile,
    .nav-close {
      color: #7F8C8C;
      font-size: 28px;
      font-weight: bold;
      line-height: 38px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      width: 43px;
      height: 43px;
      margin: 0 0 0 auto;
      padding: 0;
      display: block;
      z-index: 3;
      border: 3px solid #CCCCCC;
      border-top: none;
      background-color: #fff;
    }

    .nav-close {
      color: #7F8C8C;
      font-size: 18px;
      text-align: center;
      display: none;
      opacity: 0;
      transition: opacity 6s;
    }

    .nav-inline:hover .nav-mobile,
    .nav-inline:hover .nav-close {
      display: block;
      opacity: 1;
      border-bottom: none;
    }


    /* Submenu */

    .submenu ul {
      padding: 0;
      display: block;
      position: relative;
      z-index: 1000;
      background-color: #FFFFFF;
      box-shadow: none;
    }

    .submenu ul:after,
    .submenu ul:before {
      display: none;
    }

    .nav-inline .submenu ul li a {
      margin: 0 0;
      padding: 0 1.2em 0 2em;
      border-bottom: 1px solid #F2F5F5;
      display: block;
    }


} /* FIM @media (max-width: 800px) */

/* FIM Menu nav-inline */
