
// Columns Rulers, tricks and treats

.ruler-left   { border-left:   1px solid $basal-color-ruler; }
.ruler-top    { border-top:    1px solid $basal-color-ruler; }
.ruler-right  { border-right:  1px solid $basal-color-ruler; }
.ruler-bottom { border-bottom: 1px solid $basal-color-ruler; }

.float-left       { float: left; }
.float-right      { float: right; }

.text-align-left   { text-align: left; }
.text-align-right  { text-align: right; }
.text-align-center { text-align: center; }


 // Break Block - Força a quebra em bloco/ brbk
 // Permite a quebrar de textos de uma manchete ou chamada em blocos determinados.
 // Ex.: <h1>Tipografia Moderna e Futurismo/ <b class="brbk">Ação e Perspectiva</b></h1>

.brbk { display: block; font-weight: inherit; }


 // Break No - Evita quebra de palavras de um bloco inline/ brno
 // Ajuda na quebrar de um conjunto de palavras em títulos em destaque
 // Ex.: <h1>Tipografia Moderna e Futurismo/ <b class="brno">Ação e Perspectiva</b></h1>

.brno { white-space: nowrap; font-weight: inherit; }


/* Anexo com complementos de tipografia e layout */

.text-small h1,
.text-small h2,
.text-small h3,
.text-small h4,
.text-small h5,
.text-small h6 {
    line-height: 2.25em;
    padding: 1em 0 0;
    min-height: $basal-leading * 1;
}

.text-small h1 { font-size: 2.4em; }

.text-small h2 { font-size: 2.1em; }

.text-small h3 { font-size: 1.9em; }

.text-small h4 { font-size: 1.6em; }

.text-small h1 + h2,
.text-small h2 + h3,
.text-small h3 + h4 {
    padding: 0 0 0;
}

.text-small p,
.text-small li,
.text-small dt,
.text-small dd {
    font-size: 1.4em;
    line-height: 1.7em;
}

.text-small p  {
    padding: 0 0 1em;
}

.text-small h6 + p {
    font-size: 1.2em;
    line-height: 1.8em;
}


.text-small .text-tiny p,
.text-small .text-tiny li,
.text-small .text-tiny dt,
.text-small .text-tiny dd {
    font-size: 1.2em;
    line-height: 1.7em;
}

.text-small .text-tiny h1 {
    font-size: 1.6em;
}

.text-small .text-tiny h2 {
    font-size: 1.4em;
}

.text-small .text-tiny h3 {
    font-size: 1.3em;
}

.text-small .text-tiny h4 {
    font-size: 1.3em;
}

.text-small .text-tiny h1,
.text-small .text-tiny h2,
.text-small .text-tiny h3,
.text-small .text-tiny h4 {
    line-height: 1.35em;
}


/*
 * Quebra de layout no limite da largura máxima de colunas
 *
 */

@media all and (max-width: $basal-media-inbound) {

    %_basal-tiny-col-inbound {
        width: 100%;
        float: none;
    }

    @each $i in $basal-col-flex {

        .text-tiny .col-#{$i} {
            @extend %_basal-tiny-col-inbound;
        }
    }

    .text-tiny .gutter,
    .text-tiny .gutter-left,
    .text-tiny .gutter-right { padding: 0; }


}
// FIM do primeiro ajuste de layout


/*
 * Quebra de layout para Tablet
 *
 */

@media all and (max-width: $basal-media-tablet) {


}
// Fim da Quebra de layout para Tablet

/*
 * Quebra de layout para Mobile/Celulares
 *
 */

@media all and (max-width: $basal-media-mobile) {

    .brno { white-space: normal; }

}
// Fim da Quebra de layout para Mobile/Celulares
