// Variáveis do grid
$basal-grid-x:           15px;
$basal-grid-y:           30px;

$basal-col-fixed:        95px;
$basal-col-number:       12;
$basal-col-flex:         (20, 25, 30, 33, 40, 50, 60, 66, 70, 75);

$basal-padding:          $basal-grid-x;
$basal-leading:          $basal-grid-y;
$basal-gutter:           $basal-padding;
$basal-max-width:        $basal-col-fixed * $basal-col-number;


/* GridForMe (https://github.com/henriquebastos/gridforme)
 * Os parâmetros para construção da imagem de grid:
 * /i/{colunas}/{largura da coluna}/{leading}/{gutter}/?bg=cor&v=cor&h=cor
 *
 */
$basal-image-param:      "#{$basal-col-number}/#{strip-unit($basal-col-fixed)}/#{strip-unit($basal-leading)}/#{strip-unit($basal-gutter)}/";
$basal-image-grid:       "//gridfor.me/i/#{$basal-image-param}";

// Cores

$grey-lighter:   #F2F5F5;
$grey-light:     #C5CDCD;
$grey-base:      #95A5A5;
$grey-darker:    #7F8C8C;
$grey-darkest:   #2E3333;

$blue-base:      #3498DB;
$blue-light:     #93C6E8;
$blue-darker:    #2980B9;

$green-base:     #1abc9c;
$green-light:    lighten($green-base, 15%);
$green-darker:   #16a085;

$orange-base:    #FF9900;
$orange-light:   lighten($orange-base, 15%);
$orange-darker:  #F08000;

$red-base:       #E74C3C;
$red-light:      #FF9B96;
$red-darker:     #CC3300;



// Variáveis de cor
$basal-color-link:           $blue-base;
$basal-color-link-hover:     $blue-darker;
$basal-color-link-active:    invert( $basal-color-link );
$basal-color-link-visited:   darken( $basal-color-link, 10% );

$basal-color-text:           #111100;
$basal-color-ruler:          #c5cdcd;
$basal-color-background:     #ffffff;
