/*
 * Anexo com complementos de tipografia e layout
 */

/* @media (max-width: 800px) */

@media (min-width: 800px) {

     /*
      * Texto em colunas estreitas (4 ou 3 colunas de largura)
      */

    .col-small-text h1,
    .col-small-text h2 {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.03em;
        min-height: 1em;
        padding: 11px 18px 0;
    }

    .col-small-text h3,
    .col-small-text h4 {
        font-size: 15px;
        line-height: 18px;
        padding: 12px 18px 0;
        min-height: 1em;
    }

    .col-small-text h5,
    .col-small-text h6 {
        font-size: 13px;
        line-height: 18px;
        padding: 12px 18px 0;
        min-height: 1em;
    }


    .col-small-text p,
    .col-small-text li,
    .col-small-text dt,
    .col-small-text dd,
    .col-small-text th,
    .col-small-text td,
    .col-small-text caption {
        font-size: 13px;
        line-height: 18px;
        padding: 12px 18px 10px;
        min-height: 1em;
    }

}