@media (max-width: 800px) {

body { font-size: 100%; }

.col-1 { width: 100%; }
.col-2 { width: 100%; }
.col-3 { width: 100%; }
.col-4 { width: 100%; }
.col-5 { width: 100%; }
.col-6 { width: 100%; }
.col-7 { width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-12, .col-25, .col-33, .col-50, .col-66, .col-75 { float: none; }

/* Columns Rulers, tricks and treats ;D */

.rulerLeft, .rulerRight  { border-left: 0; border-right: 0;}

.floatLeft, .floatRight { float: none;}


} /* END @media (max-width: 800px) */
