/* Navigation Combos */

.navInline ul,
.navList ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: inline-block;
}

.navInline li {
 float: left;
 position: relative;
}

.navInline a,
.navList a {
  font-size: 0.875em;
  line-height: 1.928em;
  text-decoration: none;
  margin: 0 0.642em;
  padding: 0 0.642em;
  display: block;
  -webkit-transition: color 1s;
     -moz-transition: color 1s;
       -o-transition: color 1s;
}

.navInline a:hover,
.navList a:hover {
 color: #000;
 background: #ebebeb;
 background: rgba(235,235,235,1);
}

.navInline .current a,
.navList .current a {
 color: #000;
 font-weight: 700;
}


/* End */