/* Formulários  */

.formRow {
  margin: 0;
  padding: 0 18px;
  list-style: none;
  min-height: 81px;
}

.formRow p {
  margin: 0;
  padding: 0;
}

.formRow a { text-decoration: none; }

.formRow label,
.formRow legend {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 27px;
  padding: 0;
  margin: 0;
}

.formRow textarea {
  font-family:inherit;
  font-size:1.5em;
  margin:0;
  padding:0.75em 0.5em 0.5em 0.75em;
  width: 100%;
  border: 1px solid #cdcdcd;
}

.labelBlock label,
.formRow legend {
  display: block;
}

.inputText input {
  font-size: 2.0em;
  font-family: inherit;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  vertical-align: middle;
  margin: 0;
  padding: 0.35em;
  width: 100%;
  min-height: 10px;
  display: block;
  border: none;
  border-left: 6px solid #95a5a6;
  border-radius: 0 ;
  background-color: #F5F5F5;
  box-shadow: inset 0 2px 10px #C2CCCC;
  outline:none;
  transition: background-color 0.2s ease 0s;
}

.inputText input:hover {
  background-color: #ecf0f1;
  transition: background-color 0.2s ease 0s;
}

.inputText input:focus {
  border-left: 6px solid #16a085;
  background-color: #ecf0f1;
}

.inputText-66 input {
  width: 66%;
}

.inputText-33 input {
  width: 33%;
}

.inputRadio fieldset {
  padding: 0;
  border: none;
}

.inputRadio ul,
.inputRadio li,
.inputRadio dl,
.inputRadio dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputRadio label {
  font-size: 1em;
  font-weight: 300;
}

.inputRadio input {
  display: inline-block;
  margin-right: 0.66em
}

.selectDropdown select {
  color: #000;
  font-family: inherit;
  font-size: 1.6em;
  line-height: 40px;
  margin: 0;
  padding: 0.6em 0.3em 0.6em 0.3em;
  min-height: 36px;
  width: 100%;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  box-shadow:0 2px 10px #A0B2B3;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  outline: none;
}

.selectDropdown select:hover {
  border: 1px solid #95a5a6;
  background-color: #ecf0f1;
  box-shadow: 0 0 1px #A0B2B3, inset 0px 1px rgba(255,255,255,.2);
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  outline: none;
}

.selectDropdown select:focus {
  border: 1px solid #95a5a6;
  background-color: #ecf0f1;
  outline: none;
}

.labelInline label {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.666em;
  padding: 0;
  margin: 0;
  float: left;

}


/* Erros nos formulários */

.errorlist {
  color: #e74c3c;
}

.errorlist p,
.errorlist li,
.errorlist dt,
.errorlist dd {
  font-size: 1.3em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.errorlist li + li,
.errorlist dd + dd {
  line-height: 1.25em;
  margin: 0;
  padding-bottom:0.7em;
}

.formRow .errorlist {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 6px solid #e74c3c;
  list-style: none;
}

.formRow .errorlist + input,
.formRow .errorlist + input + input,
.formRow .errorlist + textarea,
.formRow .errorlist + dl,
.errorInput input {
  margin: 0 0 6px;
  padding: 4px 0 5px 5px;
  box-shadow: none;
  border: 1px solid #e74c3c;
  border-left: 6px solid #e74c3c;
  border-radius: 0;
  background: #FFF4F3;
}


.formRow .errorlist + dl {
  border: none;
  border-left: 6px solid #e74c3c;
}

.errorInput label{
  color: #e74c3c;
}

.errorInput input:hover { background: #FFF4F3; }

.errorInput input:focus {
  border: none;
  border-left: 6px solid #16a085;
  background-color: #ecf0f1;
}

/* Mensagens e Alertas */


/* Botões de Interface */

.btnBasic,
.btnBasic:visited,
input[type="submit"]  {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 0.005em;
  min-height: 44px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
  margin: 0 1.125em 0 0;
  padding: 0 1.6em;
  display: inline-block;
  border: 0px solid #F5F5F5;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.2) inset;
  background-color: #95a5a6;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.btnBasic:hover,
.btnBasic:focus,
input[type="submit"]:hover {
  background-color: #7f8c8d;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0), inset 0px 1px rgba(255,255,255,.2);
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  outline: 0;
  cursor: pointer;
}

.btnIconLeft { padding-left: 1.2em; }
.btnIconLeft .fa { padding-right: 0.5em; }

.btnIconRight { padding-right: 1.5em; }
.btnIconRight .fa { padding-left: 0.5em; }

/* Botões coloridos */

.btnGreen,
.btnGreen:visited,
input[type="submit"].btnGreen,
input[type="submit"].btnGreen:visited  { background-color:#1abc9c; }

.btnGreen:hover,
input[type="submit"].btnGreen:hover   { background-color:#16a085; }


.btnBlue,
.btnBlue:visited,
input[type="submit"].btnBlue,
input[type="submit"].btnBlue:visited   { background-color:#3498db; }

.btnBlue:hover,
input[type="submit"].btnBlue:hover     { background-color:#2980b9; }


.btnOrange,
.btnOrange:visited,
input[type="submit"].btnOrange,
input[type="submit"].btnOrange:visited   { background-color:#FF9900; }

.btnOrange:hover,
input[type="submit"].btnOrange:hover     { background-color:#F08000;}


.btnRed,
.btnRed:visited,
input[type="submit"].btnRed,
input[type="submit"].btnRed:visited   { background-color:#e74c3c; }

.btnRed:hover,
input[type="submit"].btnRed:hover     { background-color:#CC3300; }

/*
 * Leading
 * Aplica o espaço de entrelinha
 * no padding-top ou padding-bottom da caixa.
 * Nesta versão abaixo, a entrelinha base é de 2.7em
 */

.formRow.leadingTop-1 { padding-top: 27px  }
.formRow.leadingTop-2 { padding-top: 54px  }
.formRow.leadingTop-3 { padding-top: 81px  }
.formRow.leadingTop-4 { padding-top: 108px }
.formRow.leadingTop-5 { padding-top: 135px }

.formRow.leadingBottom-1  { padding-bottom: 27px  }
.formRow.leadingBottom-2  { padding-bottom: 54px  }
.formRow.leadingBottom-3  { padding-bottom: 81px  }
.formRow.leadingBottom-4  { padding-bottom: 108px }
.formRow.leadingBottom-5  { padding-bottom: 135px }

@media (max-width: 800px) {

  .inputText-66 input,
  .inputText-33 input {
    width: 100%;
  }

  .formRow.leadingTop-1,
  .formRow.leadingTop-2,
  .formRow.leadingTop-3,
  .formRow.leadingTop-4,
  .formRow.leadingTop-5 { padding-top: 2.7em; }

  .formRow.leadingBottom-1,
  .formRow.leadingBottom-2,
  .formRow.leadingBottom-3,
  .formRow.leadingBottom-4,
  .formRow.leadingBottom-5 { padding-bottom: 2.7em; }

} /* Fim @media (max-width: 800px) */

/* Fim */