/* Cores */
/* Cinza Branco    =  #F2F5F5 */
/* Cinza Claro     =  #C5CDCD */
/* Cinza Médio     =  #95A5A5 */
/* Cinza Escuro    =  #7F8C8C */
/* Cinza Preto     =  #2E3333 */
/* Azul Claro      =  #93C6E8 */
/* Azul Médio      =  #3498DB */
/* Azul Escuro     =  #2980B9 */
/* Verde Claro     =          */
/* Verde Médio     =  #1abc9c */
/* Verde Escuro    =  #16a085 */
/* Laranja Claro   =          */
/* Laranja Médio   =  #FF9900 */
/* Laranja Escuro  =  #F08000 */
/* Vermelho Claro  =  #FF9B96 */
/* Vermelho Médio  =  #E74C3C */
/* Vermelho Escuro =  #CC3300 */
/*
 * Imagens
 *
 * Exemplo de aplicação:
 * <span class="img img-col-4 frame-h-27x8">
 *   <img src="nome_da_image.png" height="530" width="800">
 * </span>
 * Onde img-col-(número de coluna) especifica a largura máxima
 * da caixa da imagem. Contudo, a imagem ficará menor,
 * porque a regra CSS desconta os espaços laterais (padding)
 * para o alinhamento com o texto.
 *
 */
.img-col-1 {
  max-width: 90px;
  min-height: 81px;
}
.img-col-2 {
  max-width: 180px;
  min-height: 135px;
}
.img-col-3 {
  max-width: 270px;
  min-height: 162px;
}
.img-col-4 {
  max-width: 360px;
  min-height: 243px;
}
.img-col-5 {
  max-width: 450px;
  min-height: 297px;
}
.img-col-6 {
  max-width: 540px;
  min-height: 378px;
}
.img-col-7 {
  max-width: 630px;
  min-height: 405px;
}
.img-col-8 {
  max-width: 720px;
  min-height: 459px;
}
.img-col-9 {
  max-width: 810px;
  min-height: 540px;
}
.img-col-10 {
  max-width: 900px;
  min-height: 594px;
}
.img-col-11 {
  max-width: 990px;
  min-height: 648px;
}
.img-col-12 {
  max-width: 1080px;
  min-height: 729px;
}
.img-col-1,
.img-col-2,
.img-col-3,
.img-col-4,
.img-col-5,
.img-col-6,
.img-col-7,
.img-col-8,
.img-col-9,
.img-col-10,
.img-col-11,
.img-col-12 {
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}
.img {
  display: block;
  position: relative;
}
.img:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.img img {
  width: 100%;
  height: auto;
}
.imgLeft {
  margin: 0 auto 0 0;
}
.imgRight {
  margin: 0 0 0 auto;
}
/*
 * img-align-text
 * A imagem fica alinhada com a altura
 * da letra capitular (cap height) do texto.
 */
.img-align-text {
  margin-top: 1.4em;
  margin-bottom: 1.3em;
}
/*
 * frame-h-(número de entrelinha)
 * Tem momentos que você precisa forçar a altura da caixa da imagem.
 * Esta classe especifica um tamanho limite, fazendo o recorte (crop) necessário.
 * Ex: Preciso de uma caixa de imagem com no máximo 3 linhas,
 *     basta usar a classe frame-h-27x3, tipo:
 *     <span class="img img-col-4 frame-h-27x3">
 */
.frame-h-27x3 {
  height: 81px;
}
.frame-h-27x4 {
  height: 108px;
}
.frame-h-27x5 {
  height: 135px;
}
.frame-h-27x6 {
  height: 162px;
}
.frame-h-27x8 {
  height: 216px;
}
.frame-h-27x9 {
  height: 243px;
}
.frame-h-27x11 {
  height: 297px;
}
.frame-h-27x14 {
  height: 378px;
}
.frame-h-27x15 {
  height: 405px;
}
.frame-h-27x18 {
  height: 486px;
}
.frame-h-27x20 {
  height: 540px;
}
.frame-h-27x22 {
  height: 594px;
}
.frame-h-27x24 {
  height: 648px;
}
.frame-h-27x27 {
  height: 729px;
}
.frame-h-27x3,
.frame-h-27x4,
.frame-h-27x5,
.frame-h-27x6,
.frame-h-27x8,
.frame-h-27x9,
.frame-h-27x11,
.frame-h-27x14,
.frame-h-27x15,
.frame-h-27x18,
.frame-h-27x20,
.frame-h-27x22,
.frame-h-27x24,
.frame-h-27x27 {
  min-height: 1em;
  overflow: hidden;
}
/* @media (max-width: 1150px) */
@media (max-width: 1150px) {
  .img-col-1,
  .img-col-2,
  .img-col-3,
  .img-col-4,
  .img-col-5,
  .img-col-6,
  .img-col-7,
  .img-col-8,
  .img-col-9,
  .img-col-10,
  .img-col-11,
  .img-col-12 {
    min-height: 1em;
    padding: 1.6em 18px;
  }
  .img-align-text {
    margin-top: 0;
    margin-bottom: 0;
  }
  .frame-h-27x3,
  .frame-h-27x4,
  .frame-h-27x5,
  .frame-h-27x6,
  .frame-h-27x8,
  .frame-h-27x9,
  .frame-h-27x11,
  .frame-h-27x14,
  .frame-h-27x15,
  .frame-h-27x18,
  .frame-h-27x20,
  .frame-h-27x22,
  .frame-h-27x24,
  .frame-h-27x27 {
    height: auto;
    min-height: 1em;
    overflow: hidden;
  }
}
/* Fim */
