/*
 * Cabeçalho do Site e Navegação
 */
.header {
  position: relative;
  min-height: 108px;
}
.headerSite {
  width: 75%;
}
.headerSite a {
  text-decoration: none;
}
.headerSite .siteLogo {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.headerSite .siteLogo a {
  color: #000;
  font-size: 3.6em;
  line-height: 2.25em;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 0.5em;
  width: 320px;
  height: 81px;
  display: block;
}
.headerSite .siteDescription {
  font-size: 1.6em;
  line-height: 1em;
  margin: 0;
  padding: 0 1.13em;
}
.headerNav {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 10;
}
/*
 * Menu navInline
 */
.navInline {
  vertical-align: middle;
  display: inline-block;
}
.navInline ul {
  margin: 0;
  padding: 0 0.9em;
}
.navInline li {
  font-size: 1em;
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
}
.navInline li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0.7em;
  display: block;
  transition: color 0.3s, background-color 1s;
}
.navInline li a:hover {
  color: #000;
  background-color: #F5F5F5;
}
.navInline .current > a {
  color: #000;
  font-weight: 700;
}
.navMobile,
.navClose {
  display: none;
}
/*
 * Submenu de links do Menu navInline
 */
.submenu {
  position: relative;
  overflow: hidden;
}
.submenu:hover {
  color: #000;
  overflow: visible;
}
.submenu ul {
  margin: -5px 0 0;
  padding: 0 ;
  opacity: 0;
  border: 1px solid #95A5A5;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 9995;
}
.submenu ul:after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid #95A5A5;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: -9994;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.submenu ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 20px;
  background: #FFF;
}
.submenu:hover ul {
  margin: 0 0 0;
  opacity: 1;
  -webkit-transition: opacity 0.6s, margin 1s;
  transition: opacity 0.6s, margin 1s;
}
.submenu ul li {
  font-size: 1em;
  min-width: 200px;
  min-height: 44px;
  float: none;
}
.submenu ul li a {
  margin: 0 0;
  padding: 0 1em;
  display: block;
  border-bottom: 1px solid #C5CDCD;
  text-align: left;
}
.submenu ul li a:hover {
  color: #FFF;
  background: #3498DB;
}
/*
 * Fomulário de Busca no Header do Site
 */
.headerSearch {
  vertical-align: middle;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 18px;
}
.headerSearch form {
  margin: 0;
  padding: 0;
}
.headerSearch label {
  display: none;
}
.headerSearch input[type="text"] {
  color: #333;
  font-size: 16px;
  line-height: 27px;
  font-family: inherit;
  min-height: 27px;
  padding: 1px 6px;
  margin: 0;
  width: 270px;
  border: 1px solid #C5CDCD;
}
.headerSearch button[type="submit"] {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  box-shadow: none;
  overflow: hidden;
  display: block;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
/* @media (max-width: 800px) */
@media (max-width: 800px) {
  /*
     * Menu navInline
     */
  .navInline {
    text-align: right;
    vertical-align: middle;
    margin: 0 10px;
    min-height: 45px;
    width: 45px;
    position: relative;
    display: inline-block;
  }
  .navInline .navMenu > ul {
    width: 250px;
    margin: -5px 0 0 0;
    padding: 0;
    display: block;
    height: 0;
    opacity: 0.3;
    overflow: hidden;
    position: relative;
    right: 205px;
    background: #C5CDCD;
  }
  .navMenu {
    position: relative;
  }
  .navMenu:hover ul {
    margin-top: 0;
    opacity: 1;
    height: auto;
    transition: margin 1s, height 2s, opacity 1s;
  }
  .navInline li {
    float: none;
    text-align: left;
  }
  .navInline li a {
    color: #000;
    font-weight: nomral;
    padding: 0 1em;
    border-bottom: 1px solid #F2F5F5;
    white-space: nowrap;
  }
  .navInline li a:hover {
    color: #FFF;
    background: #0066CC;
  }
  .navMobile,
  .navClose {
    color: #7F8C8C;
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 45px;
    height: 45px;
    margin: 0 0 0 auto;
    padding: 0;
    display: block;
  }
  .navClose {
    color: #7F8C8C;
    font-size: 18px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 6s;
  }
  .navInline:hover .navMobile,
  .navInline:hover .navClose {
    color: #FFF;
    background-color: #C5CDCD;
    display: block;
    opacity: 1;
  }
  /*
     * Submenu
     */
  .submenu ul {
    padding: 0;
    display: block;
    position: relative;
    z-index: 1000;
    background-color: #C5CDCD;
    box-shadow: none;
    border: none;
  }
  .submenu ul:after,
  .submenu ul:before {
    display: none;
  }
  .navInline .submenu ul li a {
    margin: 0 0;
    padding: 0 1.2em 0 2em;
    border-bottom: 1px solid #F2F5F5;
    display: block;
  }
  /*
     * Cabeçalho do Site e Navegação
     */
  .header {
    position: relative;
    min-height: 13.5em;
  }
  .headerSite {
    width: 100%;
  }
  .headerSite .siteDescription {
    width: 100%;
  }
  .headerNav {
    position: absolute;
    top: 2.0em;
    right: 0;
    z-index: 10;
  }
  /*
     * Cabeçalho do Site e Navegação
     */
  .headerSearch {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 270px;
    position: relative;
    top: 0;
    right: 0;
  }
  .headerSearch button[type="submit"] {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    display: block;
    background: none;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 10;
  }
}
/* FIM @media (max-width: 800px) */
/* FIM */
