/* Default HTML Tags */
body {
color: #333;
font-size: 62.5%;
line-height: 1em;
font-family: "Segoe UI","Lucida Grande",helvetica,arial,sans-serif;
margin: 0;
padding: 0;
}

h1,h2,h3,h4 { margin: 0 0 0 0; padding: 2em 12px 0; }

h1 { font-size: 2.1em; line-height: 1.14em; }
h2 { font-size: 1.8em; line-height: 1.2em; }
h3 { font-size: 1.6em; line-height: 1.25em; }
h4 { font-size: 1.2em; line-height: 1.666em; }

p, li, dt, dd, th, td, caption  { font-size: 1.2em; line-height: 2em;}

li li, li p, li h1, li h3, li h4 { font-size: 1em;}

p {margin: 0 0 0 0; padding: 5px 12px 5px; margin: 0 0 10px;}

h3 + p {padding-top: 3px;}

ul { margin: 0 0 1.6em 0; padding: 0 24px; }
ol { margin: 0 0 1.6em 0; padding: 0 24px; }

dl { margin: 0 0 2.0em 0; padding: 0 12px; }
dt { margin: 0 0 0 0; padding: 0 0 0 0; font-weight: 700;}
dd { margin: 0 0 0 0; padding: 0 0 0 0; }
dd + dt { margin: 1em 0 0 0; padding: 0 0 0 0; }

table { border-collapse: collapse; width: 100%; margin: 0 0 0 1em; }
th, caption { text-align: left; font-weight: 700; }

blockquote { margin: 0.75em 1.5em; }
blockquote p { text-indent: -0.55em;}

em {font-style: normal; color:#f00; }
small { font-size: 1em; }
strong, b { visibility: visible; }

hr { display:none;margin: 0;padding: 0;}
img { vertical-align:middle;border-width:0;}

fieldset {border:solid 1px #cdcdcd;}
textarea { font-family:inherit; font-size:1.4em;margin:0;padding:0.25em 0.5em;width:95%;border:solid 1px #cdcdcd;}

a         { color: #06F ; font-weight: 700; text-decoration: none; }
a:visited { color: #06F ; text-decoration: none; }
a:hover   { color: #E14B00 ; background: none ;}
a:active  { color: #0099CC ; background: none ; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Columns Rulers, tricks and treats ;D */
.rulerLeft { border-left: 1px solid #E6E6E6;}
.rulerRight { border-right: 1px solid #E6E6E6;}
.rulerTop { border-top: 1px solid #E6E6E6;}
.rulerBottom { border-bottom: 1px solid #E6E6E6;}

.floatLeft { float: left;}
.floatRight { float: right;}

.alignLeft { text-align: left;}
.alignRight { text-align: right;}

/* Columns Structures */
.col-1 { width: 12.60em; }
.col-2 { width: 25.20em; }
.col-3 { width: 37.80em; }
.col-4 { width: 50.40em; }
.col-5 { width: 63.00em; }
.col-6 { width: 75.60em; }
.col-7 { width: 88.20em; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7 { float: left; }
/* Columns Flex */
.col-25 { width: 25%; }
.col-33 { width: 33%; }
.col-50 { width: 50%; }
.col-66 { width: 66%; }
.col-25, .col-33, .col-50, .col-66  { float: left;}
.row, .col { overflow: hidden; }

 .header, .content, .footer {max-width:100.80em;margin:0 auto;padding:1em 0;background:#FFF}

 /* Header */
 .header h1 {
   padding-top: 0;
 }

 /* Content */
 .content {
   padding: 1em 0 4em
 }
 .content h2 {
   padding-top: 0;
 }

 .content .col-2 p,
 .content .col-2 li,
 .content .col-2 dd {
   line-height: 1.4em
 }

 /* Footer */
 .footer {
   color: #999;
   padding: 2em 0 1em
 }
 .footer h2 {
   padding-top: 0;
 }

 /* Navigation Combos */

.navH {}
.navH ul {
 margin: 0;
 padding: 0;
 list-style: none;
 display: inline-block
}
.navH li {
 float: left;
 position: relative;
}
.navH a {
  font-size: inherit;
  font-weight: 300;
  padding: 0 0.5em;
  margin: 0 0.5em;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* Firefox transitions*/
  -moz-transition-property: background-color; /* Which property to animate*/
  -moz-transition-duration: 1s;  /* How long the change should take*/
  /*chrome&safari transitions*/
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  /*opera transitions*/
  -o-transition-property: background-color;
  -o-transition-duration: 1s;
}
.navH a:hover {
 color: #000;
 background: #CCC;
}
.navH .current a {
 color: #333;
 font-weight: 700;
 background: #F5F5F5;
}




/* Posts (Articles, etc) */

/* Forms */
.formRow {
  margin: 0;
  padding: 0 1.2em;
  list-style: none
}
.formRow,
.submitRow {
  margin: 0;
  padding: 8px 12px 0 12px;
}
.formRow label,.formRow legend {
  color: #333;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.666em;
  padding: 0;
  margin: 0;
}
.formRow p{
  color:#999;
  font-style: italic;
  line-height:1.4em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.formRow:hover p,
.formRow :focus + p {
  color: #000;
  font-style: normal;
}
.labelBlock label {
  display: block;
}
.inputText input {
  font-size: 1.2em;
  line-height: 1.666em;
  margin: 6px 0;
  padding: 4px 0 5px 5px;
  width: 96%;
  display: block;
  border: 1px solid #DEDFE0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 -1px 0 #ADB1B7;
  background-color: #F8F8F9;
}
.inputText-66 input {
  width: 66%;
}
.inputText-33 input {
  width: 33%;
}
.inputRadio fieldset {
  padding: 0;
  border: none;
}
.inputRadio dl {
  margin: 0;
  padding: 0 0 0 1em;
}
.inputRadio label {
  font-size: 1em;
  font-weight: 300;
}
.inputRadio input {
  display: inline-block;
  margin-right: 0.66em
}
.selectDropdown select {
  font-size: 1.2em;
  margin: 6px 0;
  padding: 2px 5px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #DEDFE0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 #ADB1B7;
  background-color: #F8F8F9;
}
.labelInline label {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.666em;
  padding: 0;
  margin: 0;
  float: left;
}


/* Form Errors */
.errorlist {
  color: red;
}
.errorlist li + li,
.errorlist dd + dd {
  line-height: 1.3em;
  margin: 0;
  padding-bottom:0.7em;
}
.errorlist dt {
  line-height: 1.0em;
}
.errorlist dd {
  padding-left:1em;
}
.formRow .errorlist {
  margin: 0;
  padding: 0 0 0 1em;
  border-left: 6px solid #F66;
  list-style: none;
}
.formRow .errorlist + input,
.formRow .errorlist + input + input,
.formRow .errorlist + textarea,
.errorInput input {
  margin: 0 0 6px;
  padding: 4px 0 5px 5px;
  box-shadow: none;
  border: 1px solid #F66;
  border-left: 6px solid #F66;
  border-radius: 0;
  background: #FFE4E1;
}
.errorInput label{
  color: red;
}

/* Messages and Alerts */

/* Buttons */

/* Debug Grid */
